<div>
    <h1>Fun facts about my academic life</h1>
    <span>When I was in high school for a libras project I developed
      a simple java app to help people learn libras words, but I lost
      this project because I had only saved it on my computer, at the
      time I didn't know the remote repositories that already existed.</span>
</div>
