<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>My informations</title>
</head>

<body>
<header>
    <a class="header__links" href="/">About me</a>
    <a class="header__links" href="/pull-requests">Pull Requests</a>
    <a class="header__links" href="/college-info">Academic life</a>
</header>

<%= yield %>

</body>

</html>
