<div>
    <a href="https://github.com/NondasNF/quake-log-parser/pull/1">quake-log-parser: Task-01</br></a>
    <a href="https://github.com/NondasNF/quake-log-parser/pull/2">quake-log-parser: Task-02</br></a>
    <a href="https://github.com/NondasNF/quake-log-parser/pull/3">quake-log-parser: Rubocop and SimpleCov</br></a>
  </div>
